<h2>
  Hey!It's   <%= dayOfWeek === 0 ? "weekend" : dayOfWeek === 1 ? "weekday" :
  dayOfWeek === 2 ? "weekday" : dayOfWeek === 3 ? "weekday" : dayOfWeek === 4 ?
  "weekday" : dayOfWeek === 5 ? "weekday" : "weekend" %>, it's time to <%=
  dayOfWeek === 0 ? "have fun" : dayOfWeek === 1 ? "work hard" : dayOfWeek === 2
  ? "work hard" : dayOfWeek === 3 ? "work hard" : dayOfWeek === 4 ? "work hard"
  : dayOfWeek === 5 ? "work hard" : "have fun" %>
</h2>
